Instructions - Scraping popular songs

Your product will take a song as an input from the user and will output another song (the recommendation). In most cases, the recommended song will have to be similar to the inputted song, but the CTO thinks that if the song is on the top charts at the moment, the user will enjoy more a recommendation of a song that's also popular at the moment.

You have find data on the internet about currently popular songs. Billboard maintains a weekly Top 100 of "hot" songs here: https://www.billboard.com/charts/hot-100.

It's a good place to start! Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [1]:
url= 'https://www.billboard.com/charts/hot-100'

In [2]:
import requests
response= requests.get(url)
response

In [3]:
from bs4 import BeautifulSoup


soup= BeautifulSoup(response.content, "html.parser")

In [4]:
import pandas as pd

Song_name= []
Artist_name= []


top100 = soup.find_all('h3', class_ ='c-title')

for song in range(6, 404 ,4):
    Song_name.append(top100[song].text.strip())
    

for artist in soup.find_all('span', class_="c-label"):
    Artist_name.append(artist.text.strip())

Artist = [name for name in Artist_name if name not in ['RE-\nENTRY', '-', 'REENTRY', 'NEW'] and isinstance(name, str) and not name.isdigit()]
    
    
# create the df

df= pd.DataFrame({'Ranking': list(range(1, 101)) ,'Song_name' : Song_name, 'Artist_name' : Artist})
df

,Ranking,Song_name,Artist_name
0,1,Lovin On Me,Jack Harlow
1,2,Cruel Summer,Taylor Swift
2,3,Greedy,Tate McRae
3,4,Lose Control,Teddy Swims
4,5,I Remember Everything,Zach Bryan Featuring Kacey Musgraves
...,...,...,...
95,96,Sensational,Chris Brown Featuring Davido & Lojay
96,97,When It Comes To You,Fridayy
97,98,IDGAF,"Tee Grizzley, Mariah The Scientist & Chris Brown"
98,99,Save Me The Trouble,Dan + Shay
99,100,Red Sky,"21 Savage, Tommy Newport & Mikky Ekko"