In [1]:
# Importing library
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# URL
url = "https://www.billboard.com/charts/hot-100/"

# Get the response
response = requests.get(url)
response

In [3]:
# Getting the soup
soup = BeautifulSoup(response.content, "html.parser")

In [4]:
# Finding all by tag and class
songs = soup.find_all(name = "h3", class_ = "c-title")
authors = soup.find_all(name = "span", class_ = "c-label")

In [5]:
# Songs
list_songs = []
for _ in range(0,100):
    list_songs.append(songs[6+_*4].text.strip())

In [9]:
# Authors
list_authors_1 = []
for _ in range(0,14):
    list_authors_1.append(authors[4+_*8].text.strip())
    
list_authors_2 = []
for _ in range(0,43):
    list_authors_2.append(authors[118+_*8].text.strip())
    
list_authors_3 = []
for _ in range(0,12):
    list_authors_3.append(authors[464+_*8].text.strip())
    
list_authors_4 = []
for _ in range(0,24):
    list_authors_4.append(authors[562+_*8].text.strip())
    
list_authors_5 = []
for _ in range(0,5):
    list_authors_5.append(authors[756+_*10].text.strip())
    
list_authors_6 = []
for _ in range(0,2):
    list_authors_6.append(authors[804+_*8].text.strip())
    
list_authors = list_authors_1 + list_authors_2 + list_authors_3 + list_authors_4 + list_authors_5 + list_authors_6

In [7]:
# Ranking
song_rank = []
for _ in range(1,101):
    song_rank.append(_)

In [8]:
# Dataframe
df = pd.DataFrame({
    "rank" : song_rank,
    "song_name" : list_songs,
    "author_name" : list_authors
})
df

,rank,song_name,author_name
0,1,Lovin On Me,Jack Harlow
1,2,Cruel Summer,Taylor Swift
2,3,Greedy,Tate McRae
3,4,Lose Control,Teddy Swims
4,5,I Remember Everything,Zach Bryan Featuring Kacey Musgraves
...,...,...,...
95,96,Sensational,Chris Brown Featuring Davido & Lojay
96,97,When It Comes To You,Fridayy
97,98,IDGAF,"Tee Grizzley, Mariah The Scientist & Chris Brown"
98,99,Save Me The Trouble,Dan + Shay
99,100,Red Sky,"21 Savage, Tommy Newport & Mikky Ekko"